
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    border: none;
 text-decoration: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



html{
    width: 100vw;
    height: 100vw;
    font-size: 62,5%;
}
/*Menu*/

.logo {
   width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f1f1f;
position: fixed;

}
.logo {
 width: 70px;
height: auto; 
 cursor: pointer;
display: flex;
align-items: center;

}

.first.section {  
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
  