
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    border: none;
 text-decoration: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



html {
    width: 100vw;
    height: 100vh;
    font-size: 62,5%;
}
/*Menu*/

.content {
   width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ccc;
position: fixed;
padding-left:30rem;
}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
   align-items: center;
}
.logo h3 {
    color: white;
    font-size: 1,6rem;
}

.logo img {
    width: 100%;
    height: 100%;
}
.content .list-menu{
    width: 500px;
display: flex;
align-items: center;
justify-content: space-between;
}
.content .list-menul i a{ 
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
 color: rgb(255, 255, 255 );
 font-size: 1.8rem;
 text-transform: uppercase;
 font-weight: 500;
 
}

.first.section {  
height: 100vh;
width: 100vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
  